<header>
    <div id="title"></div>
    <div id="logReg">
        <a data-bs-toggle="modal" data-bs-target="#exampleModal">LOG IN &nbsp;</a>
        <span>//&nbsp;&nbsp;</span>
        <a>SIGN UP</a>
    </div>
</header>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <form>
            <img src="../../../assets/índex.png">
            <h3>Enter your email address</h3>
            <input type="email" name="email">
            <button type="button" id="buttonForm">Save changes</button>
          </form>
        </div>
          
      </div>
    </div>
  </div>
  
