header{
    width: 100%;
    height:100px;
    display:flex;
    flex-direction: row;
    margin-bottom: 25px;
}
#title{
    background-image: url(../../../assets/sw_logo_stacked-336c62367939.png);
    min-width:200px;
    height: 90px;
    margin: 15px 20% 0px 40%;
    background-size: cover;
}
#logReg{
    min-width:150px;
    color: white;
    display:flex;
    align-items: center;
}
#logReg>a{
    color: darkgray;
    margin-top: 70px;
    cursor: pointer;
    font-weight: bold;
}
#logReg>a:hover{
    color:white;
}
span{
    color: darkgray;
    margin-top: 70px;
    cursor:auto;
}
.login{
    border-radius: 0px;
    background: rgba(30,30,30,1);
    height: 350px;
}
.signup{
    border-radius: 0px;
    background: rgba(30,30,30,1);
    height: 550px
}
.btn-close{
    float:right;
}
form>img{
    width:80%;
    margin: 30px 10%;
}
form>h3{
    text-transform: uppercase;
    color: gold;
    font-weight: 100;
    text-align: center;
}
.swForm{
    width: 100%;
    height: 40px;
    margin-top: 20px;
}
.swForm:focus{
    background: rgba(60,60,60,1);
    color: gold;
    padding: 10px;
    font-size: .8rem;
}
#buttonForm{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    background: rgba(60,60,60,1);
    color: white;
    border: none;
}
#buttonForm:hover{
    background: rgba(80, 120, 160,1);
}