.viewport{
    height: calc(100vh - 16px);
    scrollbar-width: none;
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}
p{
    color:white
}
h3{
    font-size: 2.2rem;
    color: gold;
}
.space{
    background: black;
    margin-bottom: 20px;
}
.space:last-child{
    margin-bottom: 180px;
}
a{
    text-decoration: none;
}