.viewport{
    height: calc(100vh - 16px);
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: block;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    display: none;
}
p{
    color:white
}
h3{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: white;
}
h3:hover{
    color:gold
}
.space{
    background: rgba(16, 16, 16, 1);
    margin-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    width:80%;
    margin-left: 10%;
    cursor: pointer;
    
}
.space:last-child{
    margin-bottom: 180px;
}
a{
    text-decoration: none;
}
#pilots{
    cursor: pointer;
}