.viewport{
    height: calc(100vh - 16px);
    scrollbar-width: none;
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}
h3,p{
    color:white
}
.collapse{
    background: silver;
}