header{
    width: 100%;
    height:100px;
}
header>div{
    background-image: url(../assets/sw_logo_stacked-336c62367939.png);
    width:200px;
    height: 90px;
    margin: 20px auto;
    background-size: cover;
}