/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(assets/26675.jpg);
    position: relative;
    background-size: cover;
    overflow-y: hidden
}